<!DOCTYPE html>
<html>
   <head>
      <title>Log in page</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="/js/bl.js"></script>
      <script src="/js/app.js"></script>
   </head>
   <!--background-color:  #f4511e-->
   <style>
	   
	   
      .jumbotron { 
      padding-top: 150px;
      background-color:#21B6A8 ; 
      color: #ffffff;
      text-align:center;
      padding-bottom: 180px;
      }
      .sign-in-btn {
      background-color:#177F75 ; 
      color: #ffffff;
      }
      .help-block{
      color: #ffffff;
      }
   </style>
   <body class = "container" data-ng-app='app'  data-ng-controller="cwCtrl" data-ng-init="currentSection = 1" >
      <div class = "log-in-page" ng-show= "currentSection === 1" > 
         <!-- 1 -->
         <div class="jumbotron text-center">
            <h1>InSure App+</h1>
            <div class="container-fluid">
               <form class="form-signin">
                  <label for="inputUser" class="sr-only">Username</label>
                  <input type="user" id="inputUser" class="col-sm-10 form-control" size="1" placeholder="Username" required autofocus>
                  <label for="inputPassword" class="sr-only">Password</label>
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                  <span class="help-block text-right" >Forgot your password?</span>
                  <button class="btn btn-lg  btn-sucess sign-in-btn"  ng-click="currentSection = 2 ">Sign in</button>
                  
                  
                  <!--- type="submit">
                     <div class="checkbox text-left">
                     <label>
                     <input type="checkbox" value="remember-me"> Remember me          
                     </label>
                     </div>
                     -->
                     				
                  <span class="help-block" >Create an account</span>
               </form>
            </div>
            <!-- /container -->
         </div>
      </div>
      <!-- 1b -->
      <div ng-show= "currentSection === 2">
		  
         <!--2-->
         <nav class="navbar">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                  </button>
                  <a class="navbar-brand" href="#">InSure App</a>
               </div>
               <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                     <li class="active"><a href="#">Home</a></li>
                     <li><a href="#">Patients</a></li>
                     <li><a href="#">Medical Acts</a></li>
                     <li><a href="#">Medical Reports</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                     <li><a href="#"><span class="glyphicon glyphicon-user"></span> Dr. Egas Moniz</a></li>
                     <li>
                        <span>
                           <div class="spacer10"></div>
                        </span>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
         <div class = "container">
            <div class="row">

               <div class="col-sm-4">
                  <h2>Waiting list</h2>
                  <button  ng-click='testFunc(pat)' type="button" class="list-group-item btn-lg" ng-repeat="pat in patient | orderBy : 'name' ">
                  {{pat.name}}
                  </button>
               </div>
               <div class="col-sm-8" >
                  <h2>Insurance Requests</h2>
                  <div class="panel panel-warning">
                     <div class="panel-heading"><b>Pending</b></div>
                    
                     <div class="panel-body" ng-repeat ='r in request | filter: { status: "PENDING" } | limitTo:5:5' >{{r.reqID}}</div>
                  </div>
                  <div class="panel panel-success">
                     <div class="panel-heading">
                        <b>Accepted</b>
                     </div>
                     <div class="panel-body" ng-repeat ='r in request | filter: { status: "ACCEPTED" } | limitTo:5:5 ' >{{r.reqID}}</div>
                  </div>
                  <div class="panel panel-danger ">
                     <div class="panel-heading">
                        <b>Rejected</b>
                     </div>
                     <div class="panel-body" ng-repeat ='r in request | filter: { status: "REJECTED" } | limitTo:5:5 ' >{{r.reqID}}</div>
                  </div>
               </div>
            </div>
         </div>
      </div> 
      <!--2-->
      <div ng-show= "currentSection === 3">
         <!--3-->
                  <nav class="navbar">
            <div class="container-fluid">
               <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>                        
                  </button>
                  <a class="navbar-brand" href="#">InSure App</a>
               </div>
               <div class="collapse navbar-collapse" id="myNavbar">
                  <ul class="nav navbar-nav">
                     <li class="active"><a href="#">Home</a></li>
                     <li><a href="#" ng-click = 'currentSection = 2'>Patient List </a></li>
                     <li><a href="#">Medical Acts</a></li>
                     <li><a href="#">Medical Reports</a></li>
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                     <li><a href="#"><span class="glyphicon glyphicon-user"></span> Dr. Egas Moniz</a></li>
                     <li>
                        <span>
                           <div class="spacer10"></div>
                        </span>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>

         <div class="row">
            <div class="col-sm-4" >
               <h2>Patient info</h2>
               <ul class="list-group">
                  <li class="list-group-item">Name:  {{selPat.name}}</li>
                  <li class="list-group-item">Patient ID: {{selPat.patID}} </li>
                  <li class="list-group-item">Policy type: {{selPat.policy_type}} </li>
            </ul>
            </div>
            
            
            <div class="col-sm-8" ng-controller = 'medActCtrl'>
						<h2>Medical acts</h2>
				  <table class="table table-striped" >
					   <tr>
				<th>Name</th>
				<th>Cost (Eur)</th>
				<th>Reimbursement</th>
				<th></th>
			  </tr>
			<tr ng-repeat="t in medActList">
			  <td>{{ t.name }}</td>
			  <td> {{ t.cost }} </td>
			  <td>10</td>
			  <td>
				<button type="button" class="btn btn-default" ng-click = 'medActList.splice($index,1)'><b>Delete</b></button>
				</td>
			</tr>
			  </table>
			  
			  <div class="dropdown">
			  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Add
			 <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>

			  </button>
			  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
				<li><a href="#" ng-repeat="a in act" ng-click = 'medActList.push({name:a.name, cost:a.cost})' >{{a.name}} </a></li>
			  </ul>
			</div>

		
  </div>

               

			</div>

            </div>
         </div>
      </div>
      <!--3-->
   </body>
</html>
